{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF--8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Attendance System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'apis/css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}" class="navbar-brand">Attendance System</a>
        <div class="navbar-links">
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>

            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>