<h2>Enroll {{ role }} Fingerprint</h2>

<form id="enroll-form" method="post">
  {% csrf_token %}
  {% if role == "Student" %}
    <label>Matric Number:</label>
     {{ form.matric_number }}
  {% else %}
    <label>Email:</label>
     {{ form.email }}
  {% endif %}
 

  <input type="hidden" id="slot-id" name="slot_id">
  <button type="submit">Enroll</button>
</form>


<div id="status"></div>

<script>
  const form = document.getElementById('enroll-form');
  const statusDiv = document.getElementById('status');

  form.addEventListener('submit', async function (e) {
    e.preventDefault();
    statusDiv.innerText = "Checking availability...";

    const formData = new FormData(form);
    const matricNumber = formData.get("matric_number");

    try {
      // Step 1: Check if already mapped
      const checkResponse = await fetch(`/api/check_matric/${matricNumber}/`);
      const checkData = await checkResponse.json();
      console.log(checkData)
      if (checkData.fingerprint_exists) {
        statusDiv.innerText = "User already enrolled!";
        return;
      } else if (!checkData.user_exists) {
        statusDiv.innerText = "User does not exist!";
        return;
      }

      // Step 2: Get slot
      const slotResponse = await fetch("{% url 'get-next-slot' %}");
      const slotData = await slotResponse.json();
      const slot = slotData.slot;
      document.getElementById('slot-id').value = slot;

      // Step 3: Send to ESP32
      const esp32Response = await fetch(`http://192.168.43.5/enroll?slot=${slot}`);
      const esp32Result = await esp32Response.json();

      if (esp32Result.status === "success") {
        statusDiv.innerText = "Fingerprint enrolled. Saving...";
        
        // Submit the form to save to DB
        const saveResponse = await fetch("{% url 'enroll-student' %}", {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
          }
        });

        const saveData = await saveResponse.json();
        if (saveData.status === "success") {
          statusDiv.innerText = "Enrollment completed.";
        } else {
          statusDiv.innerText = saveData.error || "Error saving to DB.";
        }

      } else {
        statusDiv.innerText = "Enrollment failed: " + esp32Result.message;
      }

    } catch (err) {
      console.error(err);
      statusDiv.innerText = "Error talking to ESP32 or Django server.";
    }
  });
</script>
